[Unit]
Description=uWSGI server instance configured to serve todo-api
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/todo-api
Environment="PATH=/var/.envs/todo-api/bin"
ExecStart=/var/.envs/todo-api/bin/uwsgi --ini /var/www/todo-api/todo-api.ini

[Install]
WantedBy=multi-user.target